extend baseEmail 

block content 
    p Hey, #{firstName}!!!
     
    p Forgot your password?
    p Someone has requested a link to change your password. You can do this through the button below.
    p Please note that this is valid only for 30 mins. You'll just need to send another request thereafter.
        table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
                tr
                    td(align='left')
                        table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                            tbody
                                tr
                                    td
                                        a(href=`${url}`, target='_blank') Click here
    p If you didn't request a password change, please ignore this email!
    p Your password will stay safe and won't be changed.
